@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html{
	height:100%;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Catamaran-Regular',sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    width: 100%;
    vertical-align: baseline;    
}

body {
    font-size: 16px;
}

div {
    display: block;
}


/*==============================================================style sheet styling======================*/

/*--------------------------------------------------------------nav-section styling----------------------*/

.nav-section{
	width: 250px;
	position: fixed;
	top: 80px;
	left: 0;
	padding: 15px;
}

.nav-section a{
	display:block;
	line-height: 3em;
	padding-left: 25px;
	font-size: 1em;
	color: #bdbec0;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
}

.nav-section a:hover{
	color: #9d3625;
}

h1.style-sheet{
  font-family: "Montserrat", sans-serif; 
  text-transform: uppercase;
  color:#c9b9aa;
  font-size: 30px;
}


/*------------------------------------------------------------content-section styling--------------------*/

.content-section{
	width: calc(100% - 350px);
	position: absolute;
	right: 0;
	padding: 40px;
	box-shadow: 1px 0 10px #cccccc;
}

.component{
	padding-top: 55px;
	margin-bottom: 3.5em;
}

.example{
	margin-bottom: 1.2em;
}

h2.style-sheet {
	font-family: "Raleway", sans-serif; 
	font-size: 24px;
	font-weight:400;
	text-transform: uppercase;
	text-align: left;
	color: #9d3625;
	border-bottom: 1px solid #666666;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

h3.style-sheet{
	font-family: "Raleway", sans-serif; 
	font-weight: 700;
	font-size: 1em;
	text-transform: none;
	margin-top: 2em;
}

h4.style-sheet{
	font-family: "Raleway", sans-serif; 
	font-weight: 600;
	font-size: 0.8em;
	text-transform: none;
	margin-bottom: 0.5em;
	color:#c9b9aa;
}

p.style-sheet{
	font-family: "Raleway", sans-serif; 
	font-weight:600;
	margin-top:0;
	margin-bottom: 1.5em;
	font-size:0.8em;
}


.sample-code{
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #333333;
	background: #f8f8f8;
	-webkit-text-size-adjust: none;
}

.html-code{
	font-size: 0.9em;
}

pre{
	padding:0;
	margin:0;
}

.in-line{
	display: inline-block;
}

.example .product-item{
  margin-right: 5%;
  text-align: center;
}


/*===========================================================website sheet styling====================*/

/*-----------------------------------------------------------general styling-----------------------*/
/*____________________________________________________________.site-containter, .content-wrapper__*/

.content-wrapper{
  margin:0 15% 0 15%;
  padding-top: 100px;
}


/*_________________________________________________________header brandname/logo_______________*/

.header {
    top: 0;
  position: fixed;
  z-index: 5;
  height:3rem;
  width:100vw;
  padding:0 15%;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
  box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
  background-color: white;
}
.header-logo {
  padding-right: 30%;
  float: left;
  line-height: 3rem;
  font-family: "Lora-Regular", serif;
  font-size:1.1rem;
  font-weight: 700;
  text-decoration: none;
  color:black;
}


/*_________________________________________________________main navigation___________________________*/

.menu a {
  line-height: 3rem;
  padding: 0 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  color:#333;
  font-family:"Exo2-Regular", sans-serif;
  display:inline-block;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.menu a:hover {
  color: #a78a7f;
}

.menu {
  float: left;
}

/*____________________________________________________________login and bag______________*/
.login-and-bag{
  list-style: none;
  display: inline-block;
  float:right;
  padding-top:15px;
}

.login-and-bag li{
  box-sizing: border-box;
  display:inline-block;
}

.login-and-bag li a{
  font-family: "PT_Sans-Web-Regular",sans-serif;
  font-size: 0.875rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color:#a9a9a9;
}

.login-and-bag li a:hover{
  color:#333;
}

/*____________________________________________________________footer______________*/
footer{
  background: rgb(200,200,200);
  margin:0px;
  padding:2rem 0;
  min-width:100%;
  max-width:100%;
  height:auto;  
  height:auto;
  position:relative;
  right:0;
  left:0;
  bottom:0;
}

.footer-div{
  padding:1% 15%;
  width: 100%
}

.footer-div .footer-component ul{
  list-style:none;
  padding-bottom: 1.5rem;
  text-align: left;
}

.footer-div .footer-component ul a{
  text-decoration: none;
  color:#333;
}

.footer-div .footer-component ul a:hover{
  color:#a78a7f;
}

.footer-div .footer-component .footer-title{
  font-family: "PT_Sans-Web-Regular",sans-serif;
  padding-bottom: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-div .footer-component ul li{
  font-family: "PT_Sans-Web-Regular",sans-serif;
  padding-bottom: 0.4rem;
}

.newsletter {
  overflow: hidden;
  height: 40px;
  width: 200px;
  position: relative;
}

.newsletter input {
  width: 100%;
  border: 1px solid white;
  height: 40px;
  padding: 10px 0 10px 15px;
  text-transform: uppercase;
  outline: none;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
  font-size: 0.8rem;
}

.newsletter input:focus {
  border: 1px solid #999;
}

.newsletter button {
  position: absolute;
  z-index: 4;
  right: 2px;
  top: 2px;
  height: 36px;
  font-size: 0.8rem;
  border: none;
  background-color: #973241;
  -moz-transition: background-color 0.3s ease, width 0.3s ease;
  -o-transition: background-color 0.3s ease, width 0.3s ease;
  -webkit-transition: background-color 0.3s ease, width 0.3s ease;
  transition: background-color 0.3s ease, width 0.3s ease;
  color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  width: 50px;
  text-align: center;
  cursor: pointer;
  @inlude transform(translateZ(0));
}

.newsletter button:hover {
  width: 60px;
}

footer .social-icon {
      font-size: 1rem;
      text-align: left;
    }

    footer .social-icon a {
      color: #333;
      padding: 0 10px 0 10px;
    }

    footer .social-icon a:hover {
      color: #a78a7f;
      transition: 0.5s;
    }

    footer .button{
      border-width: 1px;
      width:60px;
      height:38px;
    }

/*___________________________________________________________submit & reset button_______________*/
.button {
    border: 2px solid #9d3625;
    position:relative;
    font-family:sans-serif;
    width:150px;
    height:40px;
    margin:0;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.button p {
    position:relative;
    padding:0px;
    text-align:center;
    vertical-align: center;
    text-transform:uppercase;
    text-decoration: none;
    color:#888888;
    font-size:0.8rem;
    font-weight:600;
    line-height:40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 0.8rem;
    font-family:"PT_Sans-Web-Regular",sans-serif;
}

.button:hover p {
    color:#ffffff;
    z-index: 2;
}


.easing-up {
    position: absolute;
    width:100%;
    top:0; 
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color:#9d3625;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.easing-down {
    position: absolute;
    width:100%;
    bottom:0; 
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color:#9d3625;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.button:hover {
	color:#ffffff;
}

.button:hover .easing-up, .button:hover .easing-down  {
    height:40px;
}

/*_____________________________________________________________________in-text link__________ */
a.in-text{
  color: #a78a7f;
}

a.in-text:hover {
  color: #973241; 
  transition: all ease .5s;
}

/*______________________________________________________________________Text Input___________*/
.my-form input, .my-form textarea, .my-form select
{
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0px;
  border: 1px solid #d4d4d4;
  line-height: 20px;
  text-indent: 5px;
  width: 400px;   
  display: block;
  clear: both;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-family: "PT_Sans-Web-Regular",sans-serif;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.my-form label{
  color:#a78a7f;
}

.my-form select option{
  font-size: 1rem;
  font-family: "PT_Sans-Web-Regular",sans-serif;
}


.my-form select:focus, .my-form select:hover {
    outline: none;
}

.my-form input:hover, .my-form textarea:hover, .my-form label, .checkbox .check-sign:hover, .my-form select:hover
{
  outline: none;
  border-color: #c9b9aa;
}
.my-form input:focus, .my-form textarea:hover, .my-form label, .checkbox .check-sign:hover, .my-form select:select
{
  outline: none;
  border-color: #c9b9aa;
}

.checkbox{
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkbox label{
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  font-size:0.8rem;
}
.checkbox .check-sign{
  display: block;
  position: absolute;
  z-index: 1;
  height: 18px;
  width: 18px;
  border: 1px solid #d4d4d4;
  top: 2px;
  left: 0;
  transition: all 0.2s ease;
  transform: translate(0,-2px);
  color: #a9a9a9;
  font-family: "PT_Sans-Web-Regular",sans-serif;
}
.checkbox .check-sign:before{
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  background: transparent;
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.checkbox input{
  opacity: 0;
  position: absolute;
}
.checkbox input:checked ~ .check-sign, .checkbox input.checked ~ .check-sign{
  border-color: gray;
}
.checkbox input:checked ~ .check-sign:before, .checkbox input.checked ~ .check-sign:before{
  background: #a78a7f;
}
.checkbox + .checkbox {
  margin-top: -10px;
}


/*___________________________________________________________________headings_______________*/
 h1.website{
	font-family: "Catamaran-ExtraLight", sans-serif;
	font-size:2rem;
	color:#666;
	text-align: center;
	width:100%;
	border-bottom: 1px solid #000; 
  line-height: 0em;
  margin: 10px 0 20px; 
}

h1.website span{
	background:#fff; 
  padding:0 20px; 
}

 h2{
	font-family: 'Catamaran-Regular', sans-serif;
	font-size:1.7rem;
	text-transform: uppercase;
	color:#9d3625;
	margin:1px 0;
	text-align: center;
}

 h3{
	font-family: 'Catamaran-Regular', sans-serif;
	font-size:1.5rem;
	color:#666;
	margin:1px 0;
}

 h4{
	font-family: 'Catamaran-ExtraLight', sans-serif;
	font-size:1.3rem;
	color:#c9b9aa;
	margin:1px 0;
}

/*______________________________________________________________________paragraph_____________*/
p{
	font-family: 'Caramaran-Light', sans-serif;
	font-size:1rem;
  font-weight: 400;
	color:#666;
  line-height: 130%;
}

ul li{
	color:#c9b9aa;
}

.example ul li span{
	font-family: 'Caramaran-Light', sans-serif;
	font-size:1rem;
	color:#666;
}

/*______________________________________________________________________numbered list___________*/
.example ol li{
	color:#c9b9aa;
}

.example ol li span{
	font-family: 'Caramaran-Light', sans-serif;
	font-size:1rem;
	color:#666;
}

/*____________________________________________________________________product list___________*/
.flexbox { 
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-item {
	margin-bottom: 10px;
  margin-right: 
	text-align: center;
	border: 1px solid #F1F2F2;
	border-bottom: 2px solid #F1F2F2;
	background: white;
	transition: .4s;
}

.product-item:hover {
	border-bottom: 2px solid #9d3625;
}

.product-item img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}

.product-list {
	padding: 15px 0;
}

.product-list h3 {
	font-family: "Raleway", sans-serif;
	font-size:20px;
	font-weight:800;
	color:#666;
	margin: 0 0 10px 0;
}


.price {
	font-family: "Raleway", sans-serif;
	font-size:18px;
	font-weight:400;
	color:#c9b9aa;
	margin:1px 0;
	display: block;
	margin-bottom: 12px;
}

/*_______________________________________________________________________web grid structure______*/
/*_______________________________________________________________________see grid.css___________*/


/*===============================================================citation page styling====================*/

.citation-style{
	margin-left: 30px;
	margin-right: 30px;
}

/*==================================================================@media styling================*/
/*___________________________________________________________________container__________________*/
@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }

/*  .site-container {
    overflow: hidden;
  }*/

  .site-pusher {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}


/*____________________________________________________________________header__________________*/
@media only screen and (max-width: 768px) {

  .header {
    top: 0;
    position: fixed;
    z-index: 5;
    width:100vw;
    padding:0 0;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
    box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
    background-color: white;
  }

  .header-icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 3rem;
    cursor: pointer;
  }

  .header-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    left: 15px;
    top:0.6rem;
    box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    -webkit-transform: translateX(-250px);
  }

  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #dcdcdc;

  }
}

@media(max-width:65rem){
  .header-logo {
  padding-right: 10%;  
}
}

@media(max-width:51rem){
  .header-logo {
  padding-right: 3%;  
}
}

@media(max-width:48rem){
  footer{
    padding:0.8rem 0;
  }
  .footer-div .footer-component .footer-title{
    font-size:0.8rem;
    padding-bottom: 0.5rem;
  }
  .footer-div .footer-component ul li{
    font-size:0.8rem;
    padding-bottom: 0.2rem;
  }
}

